.informationalAccessoryGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
	grid-gap: 5px;
}

.GPSOldSewerMap {
	position: relative;
	width: 200px;
	height: 200px;
}

.GPSOldSewerMapSmugglerPub {
    position: absolute;
    top: 121px;
    left: 111px;
    pointer-events: none;
}

.GPSTentaclePlainsMap {
	position: relative;
	width: 320px;
	height: 320px;
}

.GPSCatacombs {
	position: relative;
	width: 230px;
	height: 230px;
}

.GPSDocks {
	position: relative;
	width: 150px;
	height: 110px;
}

.GPSForest {
	position: relative;
	width: 276px;
	height: 270px;
}

.GPSForestPart1 {
	position: relative;
	width: 200px;
	height: 70px;
}

.GPSForestPart2 {
	position: relative;
	width: 270px;
	height: 150px;
}

.GPSBeachCave {
	position: relative;
	width: 190px;
	height: 190px;
}

.GPSMoor {
	position: relative;
	width: 190px;
	height: 230px;
}