/* 通用物品栏整体框架 */
.terraInventory {
	display: grid;
	grid-template-columns: repeat(auto-fill, 50px);
	gap: 5px;
	padding: 0.5rem;
}
/* 一些工具和鱼竿要宽一些 */
.terraInventoryTool {
	display: grid;
	grid-template-columns: repeat(auto-fill, 60px);
	gap: 5px;
	padding: 0.5rem;
}

/* 通用物品栏格子属性 */
.terraItem {
	position: relative;
	border: 1px solid var(--200);
	padding-bottom: 5px;
	text-align: center;
}
/* 通用物品栏图标属性 */
.terraIcon {
	display: grid;
	place-items: center;
	height: 50px;
	margin-bottom: -5px;
}
/* 鱼饵图标属性 */
.terraIconBait {
	display: grid;
	place-items: center;
	height: 32px;
	margin-bottom: -5px;
}
/* 工具图标属性 */
.terraIconTool {
	display: grid;
	place-items: center;
	height: 60px;
	margin-bottom: -5px;
}
/* 物品栏内部的分割线 */
.terraDivider {
	height: 1px;        /* 线的高度（粗细） */
	background: linear-gradient(
	  to right,
	  transparent 0 5px,          /* 左端5px透明 */
	  var(--600) 5px calc(100% - 5px), /* 中间灰色区域 */
	  transparent calc(100% - 5px) 100% /* 右端5px透明 */
	);
	margin-top: 5px;
	margin-bottom: 5px;
}

/* 提示“内容来源于泰拉瑞亚模组”的信息 */
.terraMod {
	animation: 180s infinite linear lustful;
	background: linear-gradient(-90deg, #1ea44a, #1ea44a, #1ea44a, #1ea44a, #1ea44a, #d9e299);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

/* 灾厄（Calamity）Mod中圣天誓盟的物品字体颜色。模组中未使用 */
@keyframes blink {
	0% { color: #FFC437; } 
	33% { color: #FFE76B; } 
	66% { color: #FFFEF3; } 
	100% { color: #FFC437; } 
}   
.blinking-text {
	animation: blink 1.5s infinite; /* 每1.5秒闪烁一次，无限循环 */
}

/* 图标动态过渡为半透明状态，用于在调试模式中表示未获得的物品 */
@keyframes terraFading {
	0% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	100% {
		opacity: 0.3;
	}
}
.terraFading {
	background: var(--150);
	text-shadow: 0 0 32px var(--purple);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation-name: terraFading;
	animation-duration: 2s;
	animation-iteration-count: 1;
	opacity: 0.3;
}


/* 用于金表到点的提示信息，达成闪烁的效果 */
@keyframes blinking {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.terraBlinking {
	animation: blinking 2s infinite; /* 每秒闪烁一次，无限循环 */
}

/* 新版本的link会自带额外的padding，只能这样手动来使链接与文字保持在同一行QAQ */
.terraLinks {
	padding-top: 0px;
	padding-bottom: 0px;
}